<% map_id ||= "route-destinations-map-#{rand(1000000)}-#{rand(100000)}" %>



<div id="<%=map_id%>" style="height: 600px;">

</div>


<script>

var routemap = new Datamap({
  element: document.getElementById("<%=map_id%>"),
  scope: 'world',
  projection: 'mercator',
  geographyConfig: {
    highlightOnHover: false,
    popupOnHover: false
  },

});

// have to use the Rails raw helper to push raw string to the template
routemap.arc(<%=raw route_paths %>);



</script>
