<% 
	map_id ||= "route-destinations-map-#{rand(1000000)}-#{rand(100000)}" 
	map_scope ||= 'usa'
%>


<div id="<%=map_id%>" class="route-map col-md-6"></div>

<script type="text/javascript">

mapID = "<%=map_id%>";
mapScope = "<%=map_scope%>";

var routemap = new Datamap({
  element: document.getElementById( mapID ),
  scope: mapScope,
  projection: 'mercator',
  fills: {
  	defaultFill: '#ffb900'
  },
  geographyConfig: {
    highlightOnHover: false,
    popupOnHover: false
  },
  arcConfig: {
  	strokeColor: '#2b74a5'
  }

});

// have to use the Rails raw helper to push raw string to the template
routemap.arc(<%=raw route_paths %>);

</script>
