<% 
	map_id ||= "route-destinations-map-#{rand(1000000)}-#{rand(100000)}" 
	map_scope ||= 'usa'
%>

<div class="row"></div>

	<div id="<%=map_id%>" class="route-map col-md-9" style="padding-left: 0; padding-right: 0;"></div>

	<script type="text/javascript">

	mapID = "<%=map_id%>";
	mapScope = "<%=map_scope%>";

	var routemap = new Datamap({
		element: document.getElementById( mapID ),
		scope: mapScope,
		projection: 'mercator',
		fills: {
			defaultFill: '#2b74a5'
		},
		geographyConfig: {
			highlightOnHover: true,
			popupOnHover: false
		}
	});

	// have to use the Rails raw helper to push raw string to the template
	routemap.arc(
		<%=raw route_paths %>,
		{
			strokeColor: '#ffb900'
		}
	);

	</script>

</div><!-- .row -->