
h1 = @airport.name
h2 = @airport.location

p => "Coordinates: #{@airport.latitude}, #{@airport.longitude}"


section.carriers
  table.table.table-condensed
    - @carriers.each do |carrier|
      tr
        td => link_to carrier.name, airport_carrier_path(id: @airport.id, carrier_id: carrier.id)





div#airport-map

- content_for :ad_hoc
  javascript:

    var airportmap = new Datamap({
      element: document.getElementById("airport-map"),
      projection: 'mercator',
      fills: {
         defaultFill: '#88ccaa',
         dot: "#3300ff"
      },
      setProjection: function(element) {
        var projection = d3.geo.equirectangular()
          .center([  #{{@airport.longitude}}, #{{@airport.latitude}} ])
          // .rotate([4.4, 0])
          .scale(400)
          .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
        var path = d3.geo.path()
          .projection(projection);

        return {path: path, projection: projection};
      }

    });
    airportmap.bubbles([
      {
        radius: 4,
        fillKey: 'dot',
        latitude: #{{@airport.latitude}},
        longitude: #{{@airport.longitude}}
      }]);
