/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";


body{
  font-size: 16px;
}

footer.footer{
  border-top: thin solid #aaa;
  margin-top: 6.0em;
  padding-bottom: 4.0em;
  padding-top: 1.5em;

  background: black;

  color: white;


  a, a:link{
    color: #aaf;
  }
}

header.header{
  border-bottom: thin solid #aaa;
  margin-bottom: 3.0em;
  padding-bottom: 0.5em;
  padding-top: 1.0em;

  .site-title{
    font-size: 1.1em;

    a:link, a{
      color: #555;
    }
  }
}
